<ion-view title="Achievements" hide-nav-bar="true" id="page22">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <div id="achievements-container20">
      <div id="achievements-button-bar20" class="button-bar margin-null">
        <a ui-sref="teacherHome" id="achievements-button83" id="achievements-btn83" class="button button-light  button-outline">{{ 'HOME' | translate }}</a>
        <a ui-sref="teacherProfile" id="achievements-button84" id="achievements-btn84" class="button button-light  button-outline">{{ 'PROFILE' | translate }}</a>
        <a ui-sref="teacherSettings" id="achievements-button85" id="achievements-btn85" class="button button-light  button-outline">{{ 'SETTINGS' | translate }}</a>
      </div>
    </div>
    <div id="achievements-button-bar21" class="button-bar">
      <a ui-sref="class" id="achievements-button86" id="achievements-btn86" class="button button-light  button-outline">{{ 'CLASS' | translate }}</a>
      <a ui-sref="attendance" id="achievements-button87" id="achievements-btn87" class="button button-light  button-outline">{{ 'ATTENDANCE' | translate }}</a>
      <a ui-sref="teams" id="achievements-button88" id="achievements-btn88" class="button button-light  button-outline">{{ 'TEAMS' | translate }}</a>
      <a ui-sref="rules" id="achievements-button89" id="achievements-btn89" class="button button-light  button-outline">{{ 'RULES' | translate }}</a>
      <a ui-sref="missions" id="achievements-button90" id="achievements-btn90" class="button button-light  button-outline">{{ 'MISSIONS' | translate }}</a>
    </div>
    <h3 id="achievements-heading13" class="achievements-hdg13">{classroom.name}</h3>
    <ion-list id="achievements-list14" class="list-elements align-text-center">
      <ion-item class="light  list-item-header" id="achievements-list-item28">{{ 'ACHIEVEMENT_NAME' | translate }}</ion-item>
      <ion-item class="light  list-item-header" id="achievements-list-item29">{{ 'ACHIEVEMENT_DESCRIPTION' | translate }}</ion-item>
      <ion-item class="light  list-item-header" id="achievements-list-item30">{{ 'REQUIREMENTS' | translate }}</ion-item>
    </ion-list>
    <ion-list id="achievements-list17" class="list-elements align-text-center">
      <ion-item id="achievements-list-item31" class="list-item">???</ion-item>
      <ion-item id="achievements-list-item32" class="list-item">???</ion-item>
      <ion-item id="achievements-list-item33" class="list-item">???</ion-item>
    </ion-list>
    <button id="achievements-button91" ng-click="showModalNewAchievement()" class="button button-calm  button-block">{{ 'ADD_ACHIEVEMENT' | translate }}</button>
  </ion-content>
</ion-view>