<ion-view title="Add Achievement" hide-nav-bar="true" id="page23" class="addAchievement">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <h3 id="addAchievement-heading18" class="addAchievement-hdg18">{{ 'NEW_ACHIEVEMENT' | translate }}</h3>
    <form id="addAchievement-form7" class="list list-student">
      <ion-list id="addAchievement-list18">
        <label class="item item-input list-elements" id="addAchievement-input13">
          <span class="input-label"> {{ 'NAME' | translate }}</span>
          <input type="text" placeholder="{achievement.name}">
        </label>
        <label class="item item-input list-elements" id="addAchievement-input14">
          <span class="input-label">{{ 'DESCRIPTION' | translate }}</span>
          <input type="text" placeholder="{achievement.description}">
        </label>
        <label class="item item-input list-elements" id="addAchievement-input15">
          <span class="input-label">{{ 'REQUIREMENTS' | translate }}</span>
          <input type="text" placeholder="{achievement.requirements}">
        </label>
      </ion-list>
    </form>
    <div id="addAchievement-container21" class="list-student">
      <button id="addAchievement-button92" class="button button-calm  button-block">{{ 'ADD_ACHIEVEMENT' | translate }}</button>
      <button id="addAchievement-button93" class="button button-calm  button-block">{{ 'CANCEL' | translate }}</button>
    </div>
  </ion-content>
</ion-view>