<ion-view title="Add Badge" hide-nav-bar="true" id="page25" class="pg25">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <h3 id="addBadge-heading20" class="addBadge-hdg20">{{ 'NEW_BADGE' | translate }}</h3>
    <form id="addBadge-form8" class="list list-student">
      <ion-list id="addBadge-list21">
        <label class="item item-input list-elements" id="addBadge-input16">
          <span class="input-label">{{ 'NAME' | translate }}</span>
          <input type="text" placeholder="{badge.name}">
        </label>
        <label class="item item-input list-elements" id="addBadge-input17">
          <span class="input-label">{{ 'DESCRIPTION' | translate }}</span>
          <input type="text" placeholder="{badge.description}">
        </label>
        <label class="item item-input list-elements" id="addBadge-input18">
          <span class="input-label">{{ 'REQUIREMENTS' | translate }}</span>
          <input type="text" placeholder="{badge.requirements}">
        </label>
      </ion-list>
    </form>
    <div id="addBadge-container23" class="list-student">
      <button id="addBadge-button103" class="button button-calm  button-block">{{ 'ADD_BADGE' | translate }}</button>
      <button id="addBadge-button104" class="button button-calm  button-block">{{ 'CANCEL' | translate }}</button>
    </div>
  </ion-content>
</ion-view>