<ion-view title="Add Item" hide-nav-bar="true" id="page21" class="pg21">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <h3 id="addItem-heading16" class="addItem-hdg16">{{ 'NEW_ITEM' | translate }}</h3>
    <form id="addItem-form6" class="list list-student">
      <ion-list id="addItem-list13">
        <label class="item item-input list-elements" id="addItem-input9">
          <span class="input-label">{{ 'NAME' | translate }}</span>
          <input type="text" placeholder="{item.name}">
        </label>
        <label class="item item-input list-elements" id="addItem-input11">
          <span class="input-label">{{ 'DESCRIPTION' | translate }}</span>
          <input type="text" placeholder="{item.description}">
        </label>
        <label class="item item-input list-elements" id="addItem-input12">
          <span class="input-label">{{ 'REQUIREMENTS' | translate }}</span>
          <input type="text" placeholder="{item.requirements}">
        </label>
      </ion-list>
    </form>
    <div id="addItem-container19" class="list-student">
      <button id="addItem-button70" class="button button-calm  button-block">{{ 'ADD_ITEM' | translate }}</button>
      <button id="addItem-button82" class="button button-calm  button-block">{{ 'CANCEL' | translate }}</button>
    </div>
  </ion-content>
</ion-view>