<ion-view title="Class" hide-nav-bar="true" id="page9" ng-init="getStudents()">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <div id="class-container10">
      <div id="class-button-bar4" class="button-bar margin-null">
        <a ui-sref="teacherHome" id="class-button20" style="font-weight:500;color:#FFFFFF;font-size:20px;border-radius:0px 0px 0px 0px;" class="button button-light  button-outline">{{ 'HOME' | translate }}</a>
        <a ui-sref="teacherProfile" id="class-button21" style="color:#FFFFFF;" class="button button-light  button-outline">{{ 'PROFILE' | translate }}</a>
        <a ui-sref="teacherSettings" id="class-button22" style="color:#FFFFFF;" class="button button-light  button-outline">{{ 'SETTINGS' | translate }}</a>
      </div>
    </div>
    <div id="class-button-bar5" class="button-bar">
      <button id="class-button26" style="color:#FFFFFF;font-size:15px;" class="button button-light  button-outline">{{ 'CLASS' | translate }}</button>
      <a ui-sref="attendance" id="class-button30" style="color:#FFFFFF;font-size:11px;" class="button button-light  button-outline">{{ 'ATTENDANCE' | translate }}</a>
      <a ui-sref="teams" id="class-button29" style="color:#FFFFFF;font-size:11px;" class="button button-light  button-outline">{{ 'TEAMS' | translate }}</a>
      <a ui-sref="rules" id="class-button27" style="color:#FFFFFF;font-size:11px;" class="button button-light  button-outline">{{ 'RULES' | translate }}</a>
      <a ui-sref="missions" id="class-button28" style="color:#FFFFFF;font-size:11px;" class="button button-light  button-outline">{{ 'MISSIONS' | translate }}</a>
    </div>
    <h3 id="class-heading2">{{classroomName}}</h3>
    <ion-list id="class-list5" class="list-elements">
      <ion-item class="list-student" id="class-list-item7" ng-click="setStudentName(student.name, student.surname, student.hashCode); showModalStudentDialog()" ng-repeat="student in students" on-swipe-left="setStudent(student)">
        <h2>{{student.name}} {{student.surname}}</h2>
        <p>{{student.hashCode}}</p>
        <ion-option-button class="button-assertive" ng-click="deleteStudent()">{{ 'DELETE' | translate }}</ion-option-button>
      </ion-item>
    </ion-list>
    <button id="class-button31" ng-click="showModalNewStudentDialog()" style="font-weight:500;" class="button button-calm  button-block">{{ 'ADD_STUDENT' | translate }}</button>
  </ion-content>
</ion-view>