<ion-view title="New team" hide-nav-bar="true" id="page16" style="background-color:#387EF5;">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <h3 id="newTeam-heading15" style="color:#FFFFFF;text-align:center;">{{ 'NEW_TEAM' | translate }}</h3>
    <div id="newTeam-container37" class="list-student">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <button id="newTeam-button128" style="font-weight:500;" class="button button-light  button-block button-outline">{{ 'UPLOAD_AVATAR' | translate }}</button>
      <form id="newTeam-form13" class="list">
        <label class="item item-input list-elements" id="newTeam-input26">
          <input type="text" placeholder="{{ 'NAME' | translate }}">
        </label>
        <div id="newTeam-button-bar29" class="button-bar">
          <button id="newTeam-button129" class="button button-calm  button-block">{{ 'CANCEL' | translate }}</button>
          <button id="newTeam-button130" class="button button-calm  button-block">{{ 'ACCEPT' | translate }}</button>
        </div>
      </form>
    </div>
    <div id="newTeam-container38" class="list-team">
      <ion-list id="newTeam-list29">
        <ion-checkbox id="newTeam-checkbox16" class="list-student-team">{{ 'STUDENT_NAME' | translate }}</ion-checkbox>
        <ion-checkbox id="newTeam-checkbox17" class="list-student-team">{{ 'STUDENT_NAME' | translate }}</ion-checkbox>
        <ion-checkbox id="newTeam-checkbox18" class="list-student-team">{{ 'STUDENT_NAME' | translate }}</ion-checkbox>
      </ion-list>
    </div>
  </ion-content>
</ion-view>