<ion-view title="Student Achievements" hide-nav-bar="true" id="page35">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <div id="studentAchievements-container43">
      <div id="studentAchievements-button-bar34" class="button-bar">
        <a ui-sref="studentHome" id="studentAchievements-button163" id="studentAchievements-btn163" class="button button-light  button-outline">{{ 'HOME' | translate }}</a>
        <button id="studentAchievements-button164" id="studentAchievements-btn164" class="button button-light  button-outline">{{ 'ACHIEVEMENTS' | translate }}</button>
        <a ui-sref="studentBadges" id="studentAchievements-button165" id="studentAchievements-btn165" class="button button-light  button-outline">{{ 'BADGES' | translate }}</a>
      </div>
    </div>
    <h3 id="studentAchievements-heading27" class="studentAchievements-hdg27">{student.name}</h3>
    <ion-list id="studentAchievements-list39" class="list-elements align-text-center">
      <ion-item class="light  list-item-header" id="studentAchievements-list-item86">{{ 'ACHIEVEMENT_NAME' | translate }}</ion-item>
      <ion-item class="light  list-item-header" id="studentAchievements-list-item87">{{ 'ACHIEVEMENT_DESCRIPTION' | translate }}</ion-item>
      <ion-item class="light  list-item-header" id="studentAchievements-list-item88">{{ 'REQUIREMENTS' | translate }}</ion-item>
    </ion-list>
    <ion-list id="studentAchievements-list40" class="list-elements align-text-center">
      <ion-item id="studentAchievements-list-item90" class="list-item">???</ion-item>
      <ion-item id="studentAchievements-list-item91" class="list-item">???</ion-item>
      <ion-item id="studentAchievements-list-item92" class="list-item">???</ion-item>
    </ion-list>
  </ion-content>
</ion-view>