<ion-view title="Student Home" hide-nav-bar="true" id="page31" ng-init="initData()">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <div id="studentHome-container29">
      <div id="studentHome-button-bar12" class="button-bar">
        <button id="studentHome-button131" id="studentHome-btn131" class="button button-light  button-outline">{{ 'HOME' | translate }}</button>
        <a ui-sref="studentAchievements" id="studentHome-button133" id="studentHome-btn133" class="button button-light  button-outline">{{ 'ACHIEVEMENTS' | translate }}</a>
        <a ui-sref="studentBadges" id="studentHome-button134" id="studentHome" class="button button-light  button-outline">{{ 'BADGES' | translate }}</a>
      </div>
    </div>
    <h3 id="studentHome-heading25" class="studentHome-hdg25">{student.name}</h3>
    <div id="studentHome-container28" class="list-student">
      <img class="icon ion-image alumnoAvatar" class="list-student" src="{{studentAvatar}}"></img>
    </div>
    <form id="studentHome-form1" class="list list-elements list-student">
      <ion-list id="signUp-list2">
        
        <label class="item item-input list-elements" id="signUp-input3">
          <span class="inputLabelProfile">
            <i class="icon ion-person"></i>&nbsp;&nbsp;{{ 'NAME'  | translate }}
            <input id="inputName" type="text" placeholder="{{studentName}}" ng-model="name"></span>
        </label>
        <label class="item item-input list-elements" id="signUp-input3">
          <span class="inputLabelProfile">
            <i class="icon ion-person"></i>&nbsp;&nbsp;{{ 'SURNAME' | translate }}
            <input id="inputSurname" type="text" placeholder="{{studentSurname}}" ng-model="surname"></span>
        </label>
        
        <label class="item item-input list-elements" id="signUp-input3">
          <span class="inputLabelProfile">
            <i class="icon ion-locked"></i>&nbsp;&nbsp;{{ 'AVATAR' | translate }}
            <input id="inputAvatar" type="text" placeholder="{{studentAvatar}}" ng-model="avatar"></span>
        </label>
      </ion-list>
      <button id="signUp-button9" ng-disabled="!name || !surname" id="signUp-btn9" class="button button-calm button-large button-block" ng-click="editStudent(name, surname, avatar)">{{ 'SAVE_CHANGES' | translate }}</button>
    </form>
    <ion-list id="studentHome-list33">
      <ion-item id="studentHome-list-item46" class="list-student-dialog">
        <i class="icon ion-clipboard"></i>&nbsp;&nbsp;{{ 'ATTENDANCE' | translate }}
        <span class="item-note">{??}%</span>
        <ion-option-button class="button-assertive">
          <i class="icon ion-minus-round"></i>
        </ion-option-button>
        <ion-option-button class="button-calm">
          <i class="icon ion-plus-round"></i>
        </ion-option-button>
      </ion-item>
      <ion-item id="studentHome-list-item57" class="list-student-dialog">
        <i class="icon ion-help"></i>&nbsp;&nbsp;??????:
        <ion-option-button class="button-assertive">
          <i class="icon ion-minus-round"></i>
        </ion-option-button>
        <ion-option-button class="button-calm">
          <i class="icon ion-plus-round"></i>
        </ion-option-button>
      </ion-item>
      <ion-item id="studentHome-list-item58" class="list-student-dialog">
        <i class="icon ion-help"></i>&nbsp;&nbsp;??????:
        <ion-option-button class="button-assertive">
          <i class="icon ion-minus-round"></i>
        </ion-option-button>
        <ion-option-button class="button-calm">
          <i class="icon ion-plus-round"></i>
        </ion-option-button>
      </ion-item>
      <ion-item id="studentHome-list-item59" class="list-student-dialog">
        <i class="icon ion-help"></i>&nbsp;&nbsp;??????:
        <ion-option-button class="button-assertive">
          <i class="icon ion-minus-round"></i>
        </ion-option-button>
        <ion-option-button class="button-calm">
          <i class="icon ion-plus-round"></i>
        </ion-option-button>
      </ion-item>
    </ion-list>
    <div class="button-bar action_buttons">
    <a ui-sref="login" id="studentHome-button162" id="studentHome-btn162" class="button button-assertive  button-block button-clear icon ion-ios-arrow-forward logout">{{ 'LOG_OUT' | translate }} </a>
    </div>
  </ion-content>
</ion-view>