<ion-view title="Student Dialog" hide-nav-bar="true" id="page12" class="pg12">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <h3 id="studentDialog-heading4" class="studentDialog-hdg4">{student.name}</h3>
    <div id="studentDialog-container27" class="list-student">
      <div class="divstudentDialog">
        <i class="icon ion-image" class="iconImage4"></i>
      </div>
      <button id="studentDialog-button119" id="studentDialog-btn119" class="button button-light  button-block button-outline">{{ 'TAKE_PICTURE' | translate }}</button>
      <button id="studentDialog-button120" id="studentDialog-btn120" class="button button-light  button-block button-outline">{{ 'VIEW_PROFILE' | translate }}</button>
      <button id="studentDialog-button121" class="button button-positive  button-block icon ion-arrow-return-left"></button>
    </div>
    <div id="studentDialog-container34" class="list-student list-elements">
      <ion-list id="studentDialog-list27">
        <ion-item id="studentDialog-list-item41" class="list-student-dialog">
          <i class="icon ion-clipboard"></i>&nbsp;&nbsp;{{ 'ATTENDANCE' | translate }}
          <span class="item-note">{??}%</span>
          <ion-option-button class="button-assertive">
            <i class="icon ion-minus-round"></i>
          </ion-option-button>
          <ion-option-button class="button-calm">
            <i class="icon ion-plus-round"></i>
          </ion-option-button>
        </ion-item>
        <ion-item id="studentDialog-list-item43" class="list-student-dialog">
          <i class="icon ion-help"></i>&nbsp;&nbsp;??????:
          <ion-option-button class="button-assertive">
            <i class="icon ion-minus-round"></i>
          </ion-option-button>
          <ion-option-button class="button-calm">
            <i class="icon ion-plus-round"></i>
          </ion-option-button>
        </ion-item>
        <ion-item id="studentDialog-list-item42" class="list-student-dialog">
          <i class="icon ion-help"></i>&nbsp;&nbsp;??????:
          <ion-option-button class="button-assertive">
            <i class="icon ion-minus-round"></i>
          </ion-option-button>
          <ion-option-button class="button-calm">
            <i class="icon ion-plus-round"></i>
          </ion-option-button>
        </ion-item>
        <ion-item id="studentDialog-list-item44" class="list-student-dialog">
          <i class="icon ion-help"></i>&nbsp;&nbsp;??????:
          <ion-option-button class="button-assertive">
            <i class="icon ion-minus-round"></i>
          </ion-option-button>
          <ion-option-button class="button-calm">
            <i class="icon ion-plus-round"></i>
          </ion-option-button>
        </ion-item>
      </ion-list>
      <a ui-sref="secundaryMenu" id="studentDialog-button139" class="button button-positive  button-block icon ion-android-more-horizontal"></a>
    </div>
  </ion-content>
</ion-view>