<ion-view title="Student Badges" hide-nav-bar="true" id="page36">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <div id="studentBadges-container44">
      <div id="studentBadges-button-bar35" class="button-bar">
        <a ui-sref="studentHome" id="studentBadges-button167" ID="studentBadges-btn167" class="button button-light  button-outline">{{ 'HOME' | translate }}</a>
        <a ui-sref="studentAchievements" id="studentBadges-button168" id="studentBadges-btn168" class="button button-light  button-outline">{{ 'ACHIEVEMENTS' | translate }}</a>
        <button id="studentBadges-button169" id="studentBadges-btn169" class="button button-light  button-outline">{{ 'BADGES' | translate }}</button>
      </div>
    </div>
    <h3 id="studentBadges-heading28" class="studentBadges-hdg28">{student.name}</h3>
    <ion-list id="studentBadges-list43" class="list-elements align-text-center">
      <ion-item class="light  list-item-header" id="studentBadges-list-item99">{{ 'BADGE_DESCRIPTION' | translate }}</ion-item>
      <ion-item class="light  list-item-header" id="studentBadges-list-item100">{{ 'BADGE_DESCRIPTION' | translate }}</ion-item>
      <ion-item class="light  list-item-header" id="studentBadges-list-item101">{{ 'REQUIREMENTS' | translate }}</ion-item>
    </ion-list>
    <ion-list id="studentBadges-list44" class="list-elements align-text-center">
      <ion-item id="studentBadges-list-item102" class="list-item">???</ion-item>
      <ion-item id="studentBadges-list-item103" class="list-item">???</ion-item>
      <ion-item id="studentBadges-list-item104" class="list-item">???</ion-item>
    </ion-list>
  </ion-content>
</ion-view>