<ion-view title="Teacher Profile" hide-nav-bar="true" id="page18">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <div id="teacherProfile-container17">
      <div id="teacherProfile-button-bar18" class="button-bar margin-null">
        <a ui-sref="teacherHome" id="teacherProfile-button74" style="color:#FFFFFF;border-radius:0px 0px 0px 0px;" class="button button-light  button-outline">{{ 'HOME' | translate }}</a>
        <button id="teacherProfile-button75" style="font-weight:500;color:#FFFFFF;font-size:20px;" class="button button-light  button-outline">{{ 'PROFILE' | translate }}</button>
        <a ui-sref="teacherSettings" id="teacherProfile-button76" style="color:#FFFFFF;" class="button button-light  button-outline">{{'SETTINGS' | translate }}</a>
      </div>
      <div class="spacer" style="width: 300px; height: 10px;"></div>
    </div>
    <ion-list id="teacherProfile-list11" class="list-elements">
      <ion-item id="teacherProfile-list-item16">
        <i class="icon ion-person"></i>&nbsp;&nbsp;{{ 'NAME' | translate }}</ion-item>
      <ion-item id="teacherProfile-list-item17">
        <i class="icon ion-person"></i>&nbsp;&nbsp;{{ 'SURNAME' | translate }}</ion-item>
      <ion-item id="teacherProfile-list-item18">
        <i class="icon ion-home"></i>&nbsp;&nbsp;{{ 'ADRESS' | translate }}</ion-item>
      <ion-item id="teacherProfile-list-item20">
        <i class="icon ion-locked"></i>&nbsp;&nbsp;{{ 'PASSWORD' | translate }}</ion-item>
      <ion-item id="teacherProfile-list-item19">
        <i class="icon ion-at"></i>&nbsp;&nbsp;{{ 'EMAIL' | translate }}</ion-item>
      <ion-item id="teacherProfile-list-item22">
        <i class="icon ion-locked"></i>&nbsp;&nbsp;{{ 'CONFIRM_PASSWORD' | translate }}</ion-item>
    </ion-list>
    <button id="teacherProfile-button77" style="font-weight:500;" class="button button-calm  button-block">{{ 'SAVE_CHANGES' | translate }}</button>
  </ion-content>
</ion-view>