<ion-view title="Teacher Settings" hide-nav-bar="true" id="page19">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <div id="teacherSettings-container18">
      <div id="teacherSettings-button-bar19" class="button-bar margin-null">
        <a ui-sref="teacherHome({teacherId: teacherId})" id="teacherSettings-button78" id="teacherSettings-btn78" class="button button-light  button-outline">{{ 'HOME' | translate }}</a>
        <a ui-sref="teacherProfile" id="teacherSettings-button79" id="teacherSettings-btn79" class="button button-light  button-outline">{{ 'PROFILE' | translate }}</a>
        <button id="teacherSettings-button80" id="teacherSettings-btn80" class="button button-light  button-outline">{{ 'SETTINGS' | translate }}</button>
      </div>
    </div>
	<h3 class="teacherSettings-h3">{{'LANGUAGES' | translate}}</h3>
	<div ng-controller="changeLanguageCtrl">
		<ion-lis class="list-elements align-text-center">
		  <ion-item ng-click="changeLanguage('es')" >
			 {{ 'BUTTON_LANG_ES' | translate }} 
		  </ion-item>
		  <ion-item ng-click="changeLanguage('en')">
			  {{ 'BUTTON_LANG_EN' | translate }} 
		  </ion-item>
      <ion-item ng-click="changeLanguage('it')">
        {{ 'BUTTON_LANG_IT' | translate }} 
      </ion-item>
		</ion-list>
    </div>
    
    <a ui-sref="login" id="teacherSettings-button81" id="teacherSettings-btn81" class="button button-assertive  button-block button-clear icon ion-chevron-right">&nbsp;{{ 'LOG_OUT' | translate }}</a>
    
  </ion-content>
</ion-view>