<ion-view title="Team Dialog" hide-nav-bar="true" id="page14" class="pg14">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <h3 id="teamDialog-heading6" class="teamDialog-hdg6">{team.name}</h3>
    <div id="teamDialog-container32" class="list-student">
      <div class="divteamDialog">
        <i class="icon ion-image" class="iconImage65"></i>
      </div>
      <button id="teamDialog-button118" id="teamDialog-btn118" class="button button-light  button-block button-outline">{{ 'CHANGE_AVATAR' | translate }}</button>
      <button id="teamDialog-button122" id="teamDialog-btn122" class="button button-light  button-block button-outline">{{ 'EDIT_TEAM' | translate }}</button>
      <button id="teamDialog-button117" id="teamDialog-btn117" class="button button-positive  button-block button-clear icon ion-arrow-return-left"></button>
    </div>
    <div id="teamDialog-container33" class="list-team">
      <ion-list id="teamDialog-list26">
        <ion-checkbox id="teamDialog-checkbox7" class="list-student-team">{student.name}</ion-checkbox>
        <ion-checkbox id="teamDialog-checkbox8" class="list-student-team">{student.name}</ion-checkbox>
        <ion-checkbox id="teamDialog-checkbox9" class="list-student-team">{student.name}</ion-checkbox>
      </ion-list>
      <div class="button-bar action_buttons">
      <button id="teamDialog-button124" class="button button-calm  button-block">{{ 'ADD_STUDENT' | translate }}</button>
      </div>
    </div>
  </ion-content>
</ion-view>