.achievements-btn83{
	font-weight:500;color:#FFFFFF;
	font-size:20px;
	border-radius:0px 0px 0px 0px;
}
.achievements-btn84{
	color:#FFFFFF; 
}
.achievements-btn85{
	color:#FFFFFF;
}
.achievements-btn86, .achievements-btn87, .achievements-btn88{
	color:#FFFFFF;
	font-size:11px;
}

.achievements-btn89{
	 font-weight:500;
	 color:#FFFFFF;
	 font-size:14px;
}
.achievements-btn90{
	color:#FFFFFF;
	font-size:11px;
}
.achievements-hdg13{
	color:#FFFFFF;
	text-align: center;
}