.attendance-btn33{
	font-weight:500;
	color:#FFFFFF;
	font-size:20px;
	border-radius:0px 0px 0px 0px;"
}
.attendance-btn34{
	color:#FFFFFF;
}
.attendance-btn35{
	color:#FFFFFF;
}
.attendance-btn13{
	color:#FFFFFF;
	font-size:11px;
}
.attendance-btn14{
	font-weight:500;
	color:#FFFFFF;
	font-size:14px;
}
.attendance-btn15{
	color:#FFFFFF;
	font-size:11px;
}
.attendance-btn25{
	color:#FFFFFF;
	font-size:11px;
}
.attendance-btn32{
	color:#FFFFFF;font-size:11px;
}
.attendance-hdg3{
	color:#FFFFFF;
	text-align:center;
}
.attendance-btn123{
	font-weight:500;
}