.badges-btn94{
	font-weight:500;
	color:#FFFFFF;
	font-size:20px;
	border-radius:0px 0px 0px 0px;
}
.badges-btn95, .badges-btn96{
	color:#FFFFFF;
}
.badges-btn97, .badges-btn98, .badges-btn99, .badges-btn101{
	color:#FFFFFF;
	font-size:11px;
}
.badges-btn100{
	 font-weight:500;
	 color:#FFFFFF;
	 font-size:14px;
}
.badges-hdg14{
	color:#FFFFFF;
	text-align:center;
}
