.class-btn20{
font-weight:500;
color:#FFFFFF;font-size:20px;
border-radius:0px 0px 0px 0px;
}
.class-btn21{
	color:#FFFFFF;
}
.class-btn22{
	color:#FFFFFF;
}
.class-btn26{
	color:#FFFFFF;
	font-size:15px;
}
.class-btn30{
	color:#FFFFFF;
	font-size:11px;
}
.class-btn29{
	color:#FFFFFF;
	font-size:11px;
}
.class-btn27{
	color:#FFFFFF;
	font-size:11px;
}
.class-btn28{
	color:#FFFFFF;
	font-size:11px;
}
.class-hdg2{
	color:#FFFFFF;text-align:center;
}
.class-btn31{
	font-weight:500;
}