.editTeam-hdg23{
	color:#FFFFFF;
	text-align:center;
}
.div-1{
	margin: 0px;
	 line-height: 250px;
	  background-color: rgb(232, 235, 239);
	   text-align: center;
}
.icon-ion1{
	font-size: 64px;
	 color: rgb(136, 136, 136);
	  vertical-align: middle;
}
.editTeam-btn125{
	font-weight:500;
}