.items-btn45{
	font-weight:500;
	color:#FFFFFF;
	font-size:20px;
	border-radius:0px 0px 0px 0px;
}
.items-btn46{
	color:#FFFFFF;
}
.items-btn47{
	 color:#FFFFFF;
}
.items-btn48{
	 color:#FFFFFF;font-size:11px;
}
.items-btn49{
	color:#FFFFFF;
	font-size:11px;
}
.items-btn50{
	color:#FFFFFF;
	font-size:11px;
}
.items-btn65{
	font-weight:500;
	color:#FFFFFF;
	font-size:14px;
}
.items-btn66{
	color:#FFFFFF;
	font-size:11px;
}
.items-hdg12{
	color:#FFFFFF;
	text-align:center;
}  