.pg5{
	background-color:#387EF5;
}

.spacerLogin{
	width: 300px; height: 40px;
}

.login-btn7{
	font-weight:500;
}
.pipo{
	display: block; width: 25%;height: auto;margin-left: auto; margin-right: auto;	
}

.login-btn6{
	font-weight:500;
}