.missions-btn105{
	font-weight:500;
	color:#FFFFFF;
	font-size:20px;
	border-radius:0px 0px 0px 0px;
}
.missions-btn106{
	color:#FFFFFF;
}
.missions-btn107{
	color:#FFFFFF;
}
.missions-btn108{
	 color:#FFFFFF;
	 font-size:11px;
}
.missions-btn109{
	color:#FFFFFF;
	font-size:11px;
}
.missions-btn110{
	color:#FFFFFF;
	font-size:11px;
}
.missions-btn111{
	font-weight:500;color:#FFFFFF;font-size:11px;
}
.missions-btn112{
	color:#FFFFFF;
	font-size:14px;
}
.missions-hdg17{
	color:#FFFFFF;text-align:center;
}