.pg15{
	background-color:#387EF5;
}
.newStudentDialog-hdg9{
	color:#FFFFFF;text-align:center;
}
.divnewStudentDialog{
	margin: 0px;
	 line-height: 250px;
	 background-color: rgb(232, 235, 239);
	 text-align: center;
}
.iconimage2{
	font-size: 64px;
	 color: rgb(136, 136, 136);
	  vertical-align: middle;
}
.newStudentDialog-btn135{
	font-weight:500;
}
.newStudentBack{
	background-color:#387EF5;
}
.newStudentH3{
	color:#FFFFFF;
	text-align:center;
}
.imageNewStudent{
	font-size: 64px;
	color: rgb(136, 136, 136);
	vertical-align: middle;
}
.newStudent-btn003{
	font-weight:500;
}
.fondo{ background-color:#387EF5;}