.pg16{
	background-color:#387EF5;
}
.newTeam-hdg15{
	color:#FFFFFF;
	text-align:center;
}
.divnewTeam{
margin: 0px;
 line-height: 250px;
 background-color: rgb(232, 235, 239);
  text-align: center;
}
.iconImage3{
	 font-size: 64px;
	 color: rgb(136, 136, 136);
	 vertical-align: middle;
}
.newTeam128{
	font-weight:500;
}
