.rules-btn57{
	font-weight:500;
	color:#FFFFFF;
	font-size:20px;
	border-radius:0px 0px 0px 0px;
}
.rules-btn58{
	color:#FFFFFF;
}
.rules-btn59{
	color:#FFFFFF;
}
.rules-btn60{
	color:#FFFFFF;
	font-size:11px;
}
.rules-btn61{
	color:#FFFFFF;
	font-size:11px;
}
.rules-btn62{
	color:#FFFFFF;
	font-size:11px;
}
.rules-btn63{
font-weight:500;
color:#FFFFFF;
font-size:14px;
}
.rules-btn64{
	color:#FFFFFF;
	font-size:11px;
}
.rules-hdg11{
	color:#FFFFFF;text-align:center;
}
.rules-btn71{
	font-weight:500;
}
.rules-btn72{
	font-weight:500;
}
.rules-btn73{
	font-weight:500;
}