.pg12{
	background-color:#387EF5;
}
.studentDialog{
	color:#FFFFFF;text-align:center;
}
.divstudentDialog{
	margin: 0px;
	line-height: 250px;
	background-color: rgb(232, 235, 239);
	text-align: center;
}
.iconImage4{
	font-size: 64px;
	color: rgb(136, 136, 136);
	vertical-align: middle;
}
.studentDialog-btn119{
	font-weight:500;
}
.studentDialog-btn120{
	font-weight:500;
}