.studentAchievements-btn163{
	font-weight:500;
	color:#FFFFFF;
	border-radius:0px 0px 0px 0px;
}
.studentAchievements-btn164{
	color:#FFFFFF;font-size:20px;
}
.studentAchievements-btn165{
	color:#FFFFFF;
}
.studentAchievements-hdg27{
	color:#FFFFFF;text-align:center;
}