.studentHome-btn131{
	font-weight:500;color:#FFFFFF;font-size:20px;border-radius:0px 0px 0px 0px;
}
.studentHome-btn133{
	color:#FFFFFF;
}
.studentHome-btn134{
	color:#FFFFFF;
}
.studentHome-hdg25{
	color:#FFFFFF;text-align:center;
}
.divStudentHome{
	margin: 0px;
	line-height: 250px;
	background-color: rgb(232, 235, 239);
	text-align: center;
}
.iconImage41{
	font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;
}
.studentHome-btn162{
	font-weight:500;
	font-size:20px;
}