.studentBadges-btn167{
	font-weight:500;
	color:#FFFFFF;
	border-radius:0px 0px 0px 0px;
}
.studentBadges-btn168{
	color:#FFFFFF;
}
.studentBadges-btn169{
	color:#FFFFFF;
	font-size:20px;
}
.studentBadges-hdg28{
	color:#FFFFFF;
	text-align:center;
}