.teacherProfile-btn74{
	color:#FFFFFF;
	border-radius:0px 0px 0px 0px;
}
.teacherProfile-btn75{
	font-weight:500;
	color:#FFFFFF;
	font-size:20px;
}
.teacherProfile-btn76{
	color:#FFFFFF;
}
.spacer{
	width: 300px;
	height: 10px;
}
.teacherProfile-btn77{
	font-weight:500;
}

.teacherAvatar{
	background-color: #387EF5;
	border:0px;
}

.avatar{
	display: block; width: 30%;height: auto;margin-left: auto; margin-right: auto; border-radius: 50%; border: 2px;
}

.inputLabelProfile {
  color: #444;
  font-size: 16px;
  width: 100%
}