.teacherHome-btn16{
	font-weight:500;
	color:#FFFFFF;
	font-size:20px;
	border-radius:0px 0px 0px 0px;
}
.teacherHome-btn17{
	color:#FFFFFF;
}
.teacherHome-btn18{
	color:#FFFFFF;
}
.teacherHome-hdg1{
	color:#FFFFFF;text-align:center;
}
.teacherHome-btn12{
	font-weight:500;
}