.teacherSettings-btn78{
	color:#FFFFFF;
	border-radius:0px 0px 0px 0px;
}
.teacherSettings-btn79{
	color:#FFFFFF;
}
.teacherSettings-btn80{
	font-weight:500;
	color:#FFFFFF;
	font-size:20px;
}
.spacer{
	width: 300px;
	height: 10px;
}
.teacherSettings-btn81{
	font-weight:500;
}
.teacherSettings-h3{
	color:#FFFFFF;
	text-align:center;
}