.title{
	background-color:#387EF5;
}
.teamDialog-hdg6{
	color:#FFFFFF;
	text-align:center;
}
.divteamDialog{
	margin: 0px;
	line-height: 250px;
	background-color: rgb(232, 235, 239);
	text-align: center;
}
.iconImage65{
	font-size: 64px;
	color: rgb(136, 136, 136);
	vertical-align: middle;
}
.teamDialog-btn118{
	font-weight:500;
}
.teamDialog-btn122{
	font-weight:500;
}
.teamDialog-btn117{
	color:#FFFFFF;
}
.teamDialogBack{
	background-color:#387EF5;
}
.divteamDialog{
	style="margin: 0px;
	line-height: 250px;
	background-color: rgb(232, 235, 239);
	text-align: center;
}
.imageteamDialog{
	font-size: 64px;
	color: rgb(136, 136, 136);
	vertical-align: middle;
}
.teamDialog-btn005{
	font-weight:500;
}
.teamDialog-btn006{
	font-weight:500;
}
.newTeamDialogBack{
	background-color:#387EF5;
}
.newTeamDialogH3{
	color:#FFFFFF;
	text-align:center;
}
.newTeamDialogDiv{
	margin: 0px;
	line-height: 250px;
	background-color: rgb(232, 235, 239);
	text-align: center;
}
.imageNewTeamDialog{
	font-size: 64px;
	color:rgb(136, 136, 136);
	vertical-align: middle;
}
.newTeamDialog-btn007{
	font-weight:500;
}