.title{
	background-color:#387EF5;
}
.teamDialog-hdg6{
	color:#FFFFFF;
	text-align:center;
}
.divteamDialog{
	margin: 0px;
	line-height: 250px;
	background-color: rgb(232, 235, 239);
	text-align: center;
}
.iconImage6{
	font-size: 64px;
	color: rgb(136, 136, 136);
	vertical-align: middle;
}
.teamDialog-btn118{
	font-weight:500;
}
.teamDialog-btn122{
	font-weight:500;
}
.teamDialog-btn117{
	color:#FFFFFF;
}