.teams-btn36{
	font-weight:500;
	color:#FFFFFF;
	font-size:20px;
	border-radius:0px 0px 0px 0px;
}
.teams-btn37{
	color:#FFFFFF;
}
.teams-btn38{
	color:#FFFFFF;
}
.teams-btn39{
	color:#FFFFFF;
	font-size:11px;
}
.teams-btn40{
	color:#FFFFFF;font-size:11px;
}
.teams-btn41{
	font-weight:500;
	color:#FFFFFF;
	font-size:14px;
}
.teams-btn42{
	color:#FFFFFF;
	font-size:11px;
}
.teams-btn43{
	color:#FFFFFF;font-size:11px;
}
.teams-hdg5{
	color:#FFFFFF;
	text-align:center;
}
.teams-btn44{
	font-weight:500;
}